In [1]:
import cx_Oracle

In [2]:
conn = cx_Oracle.connect('user1234/1234@127.0.0.1:1521/XE')
cursor = conn.cursor()

In [5]:
# 테이블 생성
cursor.execute('''
CREATE TABLE crawling(
  no    NUMBER(7)   NOT NULL PRIMARY KEY,
  name  VARCHAR(32) NOT NULL, 
  phone VARCHAR(32) NOT NULL, 
  email VARCHAR(64) NOT NULL,
  rdate DATE        NOT NULL
)
''')

In [4]:
# 테이블 삭제
cursor.execute('DROP TABLE crawling')

In [6]:
# Sequence 생성 
cursor.execute('''
CREATE SEQUENCE crawling_seq
  START WITH 1           
  INCREMENT BY 1         
  MAXVALUE 9999999 
  CACHE 2             
  NOCYCLE            
''')

In [ ]:
# Sequence delete
cursor.execute('DROP SEQUENCE crawling_seq')

In [7]:
#레코드 생성
sql = '''
INSERT INTO crawling (no, name, phone, email, rdate) 
VALUES (crawling_seq.nextval, :name, :phone, :email, sysdate)
''' 
 
result = cursor.execute(sql, ('홍길순', '021-322-1542', 'mail1@mail.com'))
print('result:', result) # None: 정상 처리, Exception: 에러
 
cursor.execute(sql, ('나길순', '021-322-1542', 'mail2@mail.com'))
cursor.execute(sql, ('다길순', '021-322-1542', 'mail3@mail.com'))
 
conn.commit()

result: None

In [11]:
# 목록
sql = '''
  SELECT no, name, phone, email, rdate
  FROM crawling
  ORDER BY no ASC
'''
cursor.execute(sql)

In [12]:
rows = cursor.fetchall() # 모든 레코드의 산출

In [13]:
rows

[(1,
  '홍길순',
  '021-322-1542',
  'mail1@mail.com',
  datetime.datetime(2021, 4, 13, 9, 28, 35)),
 (2,
  '나길순',
  '021-322-1542',
  'mail2@mail.com',
  datetime.datetime(2021, 4, 13, 9, 28, 35)),
 (3,
  '다길순',
  '021-322-1542',
  'mail3@mail.com',
  datetime.datetime(2021, 4, 13, 9, 28, 35))]

In [14]:
for row in rows:
    fmt = "{}, {}, {}, {}, {} "
    print (fmt.format(row[0], row[1], row[2], row[3], row[4]))

1, 홍길순, 021-322-1542, mail1@mail.com, 2021-04-13 09:28:35
2, 나길순, 021-322-1542, mail2@mail.com, 2021-04-13 09:28:35
3, 다길순, 021-322-1542, mail3@mail.com, 2021-04-13 09:28:35

#

In [15]:
# 한건의 레코드 조회
sql = '''
  SELECT no, name, phone, email, rdate
  FROM crawling
  WHERE no=:no
  '''

In [16]:
cursor.execute(sql, (1,)) # (1,): Tuple로 인식