In [1]:
txt1 = 'A tale that was not right'

In [2]:
txt2 = '이 또한 지나가리라.'

In [3]:
print(txt1[5])      # ‘e’가 출력됨

e

In [4]:
print(txt2[-2])     # ‘라’가 출력됨

라

In [5]:
print(txt1[3:7])      # ‘ale ’이 출력됨

ale

In [6]:
print(txt1[:6])       # ‘A tale’ 이 출력됨

A tale

In [7]:
print(txt2[-4:])      # ‘가리라.’가 출력됨

가리라.

In [8]:
txt = "python"
for i in range(len(txt)) :
    print(txt[:i+1])

p
py
pyt
pyth
pytho
python

In [9]:
txt = 'aAbBcCdDeEfFgGhHiIjJkK'

In [10]:
ret = txt[::2] #홀수번째만 출력
#ret = txt[1::2] #짝수번째만 출력
print(ret)       # ‘abcdefghijk’ 가 출력됨

abcdefghijk

In [11]:
txt = 'abcdefghijk'
ret = txt[::-1]#뒤에서부터 출력됨
#ret = txt[::-2]#뒤에서부터 홀수번째만 출력
#ret = txt[-2::-2]#뒤에서부터 짝수번째만 출력
print(ret)       # ‘kjihgfedcba’ 가 출력됨

kjihgfedcba

In [12]:
filename = input('저장할 파일 이름을 입력하세요: ')
filename = filename + '.jpg'
display_msg = '당신이 저장한 파일은 <' + filename + '> 입니다.'
print(display_msg)

저장할 파일 이름을 입력하세요: test
당신이 저장한 파일은 <test.jpg> 입니다.

In [13]:
msg1 = '여러분'
msg2 = '파이팅!'
display_msg = msg1 + ', ' + msg2*3 + '~!'
print(display_msg)

여러분, 파이팅!파이팅!파이팅!~!

In [14]:
msg = input('임의의 문장을 입력하세요: ')
if 'a' in msg:
   print('당신이 입력한 문장에는 a가 있습니다.')
else:
   print('당신이 입력한 문장에는 a가 없습니다.')

임의의 문장을 입력하세요: 123
당신이 입력한 문장에는 a가 없습니다.

In [15]:
msg = input('임의의 문장을 입력하세요: ')
if 'is' in msg:
   print('당신이 입력한 문장에는 is가 있습니다.')
else:
   print('당신이 입력한 문장에는 is가 없습니다.')

임의의 문장을 입력하세요: ㅑㄴ
당신이 입력한 문장에는 is가 없습니다.

In [16]:
txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3PO'

In [23]:
txt1.isalpha() #문자만 인식

True

In [24]:
txt2.isalpha() #문자만 인식

True

In [25]:
txt3.isalpha() #문자만 인식

False

In [26]:
txt4.isalpha() #문자만 인식

False

In [27]:
txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'

In [28]:
txt1.isdigit() #숫자만 인식

False

In [29]:
txt2.isdigit() #숫자만 인식

False

In [30]:
txt3.isdigit() #숫자만 인식

True

In [31]:
txt1 = '안녕하세요?'
txt2 = '1. Title-제목을 넣으세요'
txt3 = '3피오R2D2'

In [32]:
txt1.isalnum() #문자숫자만 인식

False

In [33]:
txt2.isalnum() #문자숫자만 인식

False

In [34]:
txt3.isalnum() #문자숫자만 인식

True

In [35]:
txt = '   양쪽에 공백이 있는 문자열입니다.   '

In [38]:
'<' + txt + '>'

'<   양쪽에 공백이 있는 문자열입니다.   >'

In [39]:
'<' + txt.lstrip() + '>'

'<양쪽에 공백이 있는 문자열입니다.   >'

In [40]:
'<' + txt.rstrip() + '>'

'<   양쪽에 공백이 있는 문자열입니다.>'

In [41]:
'<' + txt.strip() + '>'

'<양쪽에 공백이 있는 문자열입니다.>'

In [42]:
num1 = 1234
num2 = 3.14

In [43]:
print('num1을 문자열로 변환한 값은 “%s” 입니다.' %str(num1))
print('num2를 문자열로 변환한 값은 “%s” 입니다.' %str(num2))

num1을 문자열로 변환한 값은 “1234” 입니다.
num2를 문자열로 변환한 값은 “3.14” 입니다.

In [44]:
txt = 'A lot of things occur each day, every day.'

In [45]:
txt.count('o')

3

In [46]:
txt.count('day')

2

In [47]:
txt.count(' ')

8

In [48]:
txt = 'A lot of things occur each day, every day.'

In [49]:
txt.find('e')

22

In [50]:
txt.find('day')

27

In [52]:
txt.find('day', 30) # string.find(str, start_pos, end_pos)

38

In [56]:
url = 'http://www.naver.com/news/today=20160831'

In [57]:
url.split('/')

['http:', '', 'www.naver.com', 'news', 'today=20160831']

In [58]:
log = 'name:홍길동 age:17 gender:남자 nation:한국'

In [59]:
for data in log.split():
   d1, d2 = data.split(':')
   print('%s -> %s' %(d1, d2))

name -> 홍길동
age -> 17
gender -> 남자
nation -> 한국

In [62]:
loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
print(';'.join(loglist))

2016/08/26 10:12:11;200;OK;이 또한 지나가리라

In [63]:
txt = 'My password is 1234'

In [64]:
txt.replace('1', '0')

'My password is 0234'

In [65]:
txt.replace('1', 'python')

'My password is python234'

In [69]:
txt = '매일 많은 일들이 일어납니다.'

In [70]:
txt.replace('매일', '항상')

'항상 많은 일들이 일어납니다.'

In [71]:
txt.replace('일', '사건')

'매사건 많은 사건들이 사건어납니다.'

In [72]:
u_txt = 'I love python'
b_txt = u_txt.encode()

In [73]:
print(u_txt)

I love python

In [74]:
print(b_txt) #바이트 객체는 문자열 앞에 b'를 붙여 출력된다.

b'I love python'

In [75]:
ret1 = 'I' == u_txt[0]
ret2 = 'I' == b_txt[0]
ret3 = 73 == b_txt[0]
print(ret1)    # True가 출력됨
print(ret2)    # False가 출력됨
print(ret3)    # True 가 출력됨

True
False
True

In [76]:
#바이트를 문자열로 변환
b_txt = b'A lot of things occur each day.'
u_txt = b_txt.decode()
print(u_txt)

A lot of things occur each day.

In [80]:
# 문자열 정렬하기 - sorted(data) : 오름차순으로 정렬하여 list로 리턴된다.

strdata = input('정렬할 문자열을 입력하세요: ')
ret1 = sorted(strdata)
ret2 = sorted(strdata, reverse=True)
print('정렬 >> ', ret1)
print('역정렬 >> ', ret2)

정렬할 문자열을 입력하세요: asda asda
정렬 >>  [' ', 'a', 'a', 'a', 'a', 'd', 'd', 's', 's']
역정렬 >>  ['s', 's', 'd', 'd', 'a', 'a', 'a', 'a', ' ']

In [81]:
ret1 = ''.join(ret1)
ret2 = ''.join(ret2)
print('오름차순으로 정렬된 문자열은 <' + ret1 + '> 입니다.')
print('내림차순으로 정렬된 문자열은 <' + ret2 + '> 입니다.')

오름차순으로 정렬된 문자열은 < aaaaddss> 입니다.
내림차순으로 정렬된 문자열은 <ssddaaaa > 입니다.

In [86]:
listdata = [1, 2, 'a', 'b', 'c', [4, 5, 6]]

In [87]:
listdata[1]

2

In [88]:
listdata[3]

'b'

In [89]:
listdata[5][1]

5

In [90]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [91]:
solarsys[1:4]

['수성', '금성', '지구']

In [92]:
solarsys[4:]

['화성', '목성', '토성', '천왕성', '해왕성']

In [94]:
# 지구가 두번 들어가 있는 리스트
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']

In [95]:
planet = '지구'

In [96]:
pos = solarsys.index('지구')
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다.' %(planet, pos))

지구은(는) 태양계에서 3번째에 위치하고 있습니다.

In [97]:
pos = solarsys.index(planet, 5) # 인덱스가 5이상부터 검색한다.
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다.' %(planet, pos))

지구은(는) 태양계에서 9번째에 위치하고 있습니다.

In [98]:
listdata = list(range(5))
listdata.reverse() # 원본데이터 연순으로 변경
print(listdata)  # [4, 3, 2, 1, 0]이 출력됨

[4, 3, 2, 1, 0]

In [99]:
listdata = list(range(5))
ret1 = reversed(listdata)
print('원본 리스트 ', end='');print(listdata);
print('역순 리스트 ', end='');print(list(ret1))

원본 리스트 [0, 1, 2, 3, 4]
역순 리스트 [4, 3, 2, 1, 0]

In [100]:
ret2 = listdata[::-1]  #역순으로 출력
print('슬라이싱 이용 ', end='');print(ret2)

슬라이싱 이용 [4, 3, 2, 1, 0]

In [103]:
listdata1 = ['a', 'b', 'c', 'd', 'e']
listdata2 = ['f', 'g', 'h', 'i', 'j']

In [104]:
listdata3 = listdata1 + listdata2
print(listdata3)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [105]:
listdata4 = listdata2 + listdata1
print(listdata4)

['f', 'g', 'h', 'i', 'j', 'a', 'b', 'c', 'd', 'e']

In [106]:
listdata = list(range(3))
ret = listdata*3
print(ret)   # [0, 1, 2, 0, 1, 2, 0, 1, 2]가 출력됨

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [107]:
for i in range(3):
   txt = input('리스트에 추가할 값을 입력하세요[%d/3]: ' %(i+1))
   listdata.append(txt)
   print(listdata)

리스트에 추가할 값을 입력하세요[1/3]: 1
[0, 1, 2, '1']
리스트에 추가할 값을 입력하세요[2/3]: 2
[0, 1, 2, '1', '2']
리스트에 추가할 값을 입력하세요[3/3]: 3
[0, 1, 2, '1', '2', '3']

In [109]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
pos = solarsys.index('목성')
solarsys.insert(pos, '소행성') # '목성' 앞에 '소행성' 추가
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

In [114]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [115]:
del solarsys[0]
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [116]:
del solarsys[-2] #특정 위치의 요소 삭제
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '해왕성']

In [117]:
del solarsys[1:3] #특정 구간에 있는 모든 요소 삭제
print(solarsys)

['수성', '화성', '목성', '토성', '해왕성']

In [119]:
listdata = []
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]

In [120]:
del listdata #리스트 자체 삭제
# print(listdata)

In [121]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solarsys.remove('태양')
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [122]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
listsize = len(listdata)
print(listsize)   # 15가 출력됨

15

In [123]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]

In [124]:
listdata.count(2) #2의 개수

3

In [125]:
listdata.count(7) #3의 개수

1

In [127]:
# 리스트 요소 정렬하기(sort, sorted)
namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
namelist.sort()
print(namelist)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']

In [128]:
namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
ret1 = sorted(namelist)
ret2 = sorted(namelist, reverse=True) #내림차순으로 정렬한다.
print(namelist)
print(ret1)
print(ret2)

['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
['Tom', 'Sams', 'Michale', 'Mary', 'Kelly', 'Bob', 'Aimy']

In [129]:
from random import shuffle
 
listdata = list(range(1, 11))
for i in range(3):
   shuffle(listdata)
   print(listdata)    # 출력 결과는 실행할 때마다 달라짐

[5, 1, 10, 4, 7, 2, 3, 9, 6, 8]
[6, 4, 8, 10, 3, 5, 9, 2, 7, 1]
[9, 1, 4, 6, 2, 8, 5, 7, 10, 3]

In [130]:
#리스트의 모든 요소를 인덱스와 쌍으로 추출하기(enumerate)

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
ret = list(enumerate(solarsys))
print(ret)
 
for i, body in enumerate(solarsys):
   print('태양계의 %d번째 천체: %s' %(i, body))

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]
태양계의 0번째 천체: 태양
태양계의 1번째 천체: 수성
태양계의 2번째 천체: 금성
태양계의 3번째 천체: 지구
태양계의 4번째 천체: 화성
태양계의 5번째 천체: 목성
태양계의 6번째 천체: 토성
태양계의 7번째 천체: 천왕성
태양계의 8번째 천체: 해왕성

In [131]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
ret = sum(listdata)
print(ret)    # 65가 출력됨

65

In [132]:
# 리스트 요소가 모두 참인지 확인하기(all, any)
listdata1 = [0, 1, 2, 3, 4] #0만 False 0이상 True
listdata2 = [True, True, True]
listdata3 = ['', [], (), {}, None, False]
print(all(listdata1))   # False가 출력됨
print(any(listdata1))  # True가 출력됨
print(all(listdata2))   # True가 출력됨
print(any(listdata2))  # True가 출력됨
print(all(listdata3))   # False가 출력됨
print(any(listdata3))  # False가 출력됨

False
True
True
True
False
False

In [133]:
solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
solardict = {} #빈 사전 객체
for i, k in enumerate(solar1): #인덱스-i,값-k  -> 1 '태양' ,2  '수성 '
   val = solar2[i]
   solardict[k] = val #사전에 새로운 요소 추가
 
print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

In [134]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855} #{아기이름:출생아 수}
names['Aimy'] = 10000
print(names)

{'Mary': 10999, 'Sams': 2111, 'Aimy': 10000, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

In [135]:
# 사전에서 특정 요소 제거(del), 사전의 모든 요소 제거하기(clear)
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
del names['Sams']  #Sams인 키와 값만 삭제
print(names)

{'Mary': 10999, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

In [136]:
names.clear() #names의 모든 요소 삭제
print(names)

{}

In [138]:
# 사전에서 키만 추출하기(keys), 사전에서 값만 추출하기(values), 사전요소를 모두 추출하기
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
ks = names.keys() #키만 추출
print(ks)

dict_keys(['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly'])

In [139]:
for k in ks:
   print('Key:%s \tValue:%d' %(k, names[k]))

Key:Mary 	Value:10999
Key:Sams 	Value:2111
Key:Aimy 	Value:9778
Key:Tom 	Value:20245
Key:Michale 	Value:27115
Key:Bob 	Value:5887
Key:Kelly 	Value:7855

In [140]:
vals = names.values() #값만 추출
print(vals)
 
vals_list = list(vals)
ret = sum(vals_list)
print('출생아수 총계: %d' %ret)

dict_values([10999, 2111, 9778, 20245, 27115, 5887, 7855])
출생아수 총계: 83990

In [142]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
items = names.items() #names의 모든 요소를 사전 뷰 객체로 리턴된다.
print(items)
 
for item in items:
   print(item)

dict_items([('Mary', 10999), ('Sams', 2111), ('Aimy', 9778), ('Tom', 20245), ('Michale', 27115), ('Bob', 5887), ('Kelly', 7855)])
('Mary', 10999)
('Sams', 2111)
('Aimy', 9778)
('Tom', 20245)
('Michale', 27115)
('Bob', 5887)
('Kelly', 7855)

In [143]:
# 사전에 특정 키가 존재하는지 확인하기(in)
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
k = input('이름을 입력하세요: ')
if k in names:
   print('이름이 <%s>인 출생아수는 <%d>명 입니다.' %(k, names[k]))
else:
   print('자료에 <%s>인 이름이 존재하지 않습니다.' %k)

이름을 입력하세요: ㅇ
자료에 <ㅇ>인 이름이 존재하지 않습니다.

In [144]:
# 사전 정렬하기(sorted) - sorted()는 키를 오름차순으로 정렬하여 리스트로 리턴한다.

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115, 'Bob':5887, 'Kelly':7855}
ret1 = sorted(names) # 오름차순으로 키만 정렬
#ret1 = sorted(names.keys()) #키만 오름차순으로 정렬
#ret1 = sorted(names.values()) #값만 오름차순으로 정렬
print(ret1)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']

In [145]:
def f1(x):
   return x[0]#names.items()결과에서 키만 리턴
 
def f2(x):
   return x[1] #names.items()결과에서 값만 리턴

In [146]:
#ret2 = sorted(names.items())#키를 기준으로 오름차순으로 정렬
ret2 = sorted(names.items(), key=f1)#키를 기준으로 오름차순으로 정렬
print(ret2)

[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]

In [147]:
ret3 = sorted(names.items(), key=f2) #값을 기준으로 오름차순으로 정렬
print(ret3)

[('Sams', 2111), ('Bob', 5887), ('Kelly', 7855), ('Aimy', 9778), ('Mary', 10999), ('Tom', 20245), ('Michale', 27115)]

In [148]:
ret4 = sorted(names.items(), key=f2, reverse=True) #값을 기준으로 내림차순으로 정렬
print(ret4)

[('Michale', 27115), ('Tom', 20245), ('Mary', 10999), ('Aimy', 9778), ('Kelly', 7855), ('Bob', 5887), ('Sams', 2111)]

In [149]:
# 문자 코드값 구하기(ord), 코드값(아스키, 유니코드)에 대응하는 문자 얻기(chr) ord() 문자의 아스키 코드값이 결과로 나온다.

ch = input('문자를 1개 입력하세요: ')
if len(ch) != 0:
   ch = ch[0]
   chv = ord(ch)
   print('문자: %s \t코드값: %d [%s]' %(ch, chv, hex(chv)))

문자를 1개 입력하세요: 65
문자: 6 	코드값: 54 [0x36]

In [151]:
# 문자열로 된 식을 실행하기(eval)

expr1 = '2+3'
eval(expr1) # <2+3>를 eval()로 실행한 결과

5

In [152]:
expr2 = 'round(3.7)'
eval(expr2) # <round(3.7)>를 eval()로 실행한 결과

4

In [153]:
# 이름없는 한줄짜리 함수 만들기(lambda)

add = lambda x, y: x+y #매개변수 2개를 받아서 두수를 더한다.
ret = add(1, 3)
print(ret)    # 4가 출력됨

4

In [154]:
#list에 들어있는 lambda함수 두개가 있다.
funcs = [lambda x: x+'.pptx', lambda x: x+'.docx'] 
#첫번재 list값 lambda함수 꺼내서 실행한다.
ret1 = funcs[0]('Intro')
#두번재 list값 lambda함수 꺼내서 실행한다.
ret2 = funcs[1]('Report')
print(ret1)   # intro.pptx가 출력됨
print(ret2)   # Report.docx가 출력됨

Intro.pptx
Report.docx

In [155]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115,
          'Bob':5887, 'Kelly':7855}
ret3 = sorted(names.items(), key=lambda x: x[0]) #키로 정렬한다.
print(ret3)

[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]

In [156]:
# 함수와 함수의 인자를  map의 인자로 전달하여 함수를 실행한다.(map)

f = lambda x: x*x #매개변수 하나를 받아서 거듭제곱하는 함수
args = [1, 2, 3, 4, 5]
ret = map(f, args) #함수, 함수에 사용할 인자
print(list(ret))

[1, 4, 9, 16, 25]

In [157]:
f = lambda x,y: x*x + y#매개변수 두개를 받아서 거듭제곱한후 더하는 함수
X = [1, 2, 3, 4, 5]
Y = [10, 9, 8, 7,6]
ret = map(f, X,Y) #함수, 함수에서 사용할 인자값
print(list(ret))

[11, 13, 17, 23, 31]