In [1]:
# 일별 시세 10페이지 까지

In [44]:
import requests

from selenium import webdriver
from bs4 import BeautifulSoup



driver = webdriver.Chrome('D:\\SJY\\python\\datadown\\chromedriver.exe')
url = "https://finance.naver.com/item/sise.nhn?code=005930"
driver.get(url)

#웹 페이지의 HTML 정보 가져오기
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [52]:
day = soup.select('table.type2 > tbody > tr')
print(day)

[<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>, <tr>
<td colspan="7" height="8"></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.05.03</span></td>
<td class="num"><span class="tah p11">82,100</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				600
				</span>
</td>
<td class="num"><span class="tah p11">81,000</span></td>
<td class="num"><span class="tah p11">82,300</span></td>
<td class="num"><span class="tah p11">81,000</span></td>
<td class="num"><span class="tah p11">5,835,795</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.30</span></td>
<td class="num"><span class="tah p11">81,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				200
				</span>
</td>
<td class="num"><span class="tah p11">81,900</span></td>
<td class="num"><span class="tah p11">82,100</span></td>
<td class="num"><span class="tah p11">81,500</span></td>
<td class="num"><span class="tah p11">18,673,197</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.29</span></td>
<td class="num"><span class="tah p11">81,700</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				400
				</span>
</td>
<td class="num"><span class="tah p11">82,400</span></td>
<td class="num"><span class="tah p11">82,500</span></td>
<td class="num"><span class="tah p11">81,500</span></td>
<td class="num"><span class="tah p11">20,000,973</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.28</span></td>
<td class="num"><span class="tah p11">82,100</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				800
				</span>
</td>
<td class="num"><span class="tah p11">83,200</span></td>
<td class="num"><span class="tah p11">83,200</span></td>
<td class="num"><span class="tah p11">82,100</span></td>
<td class="num"><span class="tah p11">15,596,759</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.27</span></td>
<td class="num"><span class="tah p11">82,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				600
				</span>
</td>
<td class="num"><span class="tah p11">83,200</span></td>
<td class="num"><span class="tah p11">83,300</span></td>
<td class="num"><span class="tah p11">82,500</span></td>
<td class="num"><span class="tah p11">12,941,533</span></td>
</tr>, <tr>
<td colspan="7" height="8"></td>
</tr>, <tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>, <tr>
<td colspan="7" height="8"></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.26</span></td>
<td class="num"><span class="tah p11">83,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				700
				</span>
</td>
<td class="num"><span class="tah p11">82,900</span></td>
<td class="num"><span class="tah p11">83,500</span></td>
<td class="num"><span class="tah p11">82,600</span></td>
<td class="num"><span class="tah p11">15,489,938</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.23</span></td>
<td class="num"><span class="tah p11">82,800</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				400
				</span>
</td>
<td class="num"><span class="tah p11">81,900</span></td>
<td class="num"><span class="tah p11">82,900</span></td>
<td class="num"><span class="tah p11">81,600</span></td>
<td class="num"><span class="tah p11">17,805,080</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.22</span></td>
<td class="num"><span class="tah p11">82,400</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				200
				</span>
</td>
<td class="num"><span class="tah p11">82,900</span></td>
<td class="num"><span class="tah p11">83,000</span></td>
<td class="num"><span class="tah p11">82,400</span></td>
<td class="num"><span class="tah p11">13,934,746</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.21</span></td>
<td class="num"><span class="tah p11">82,600</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,300
				</span>
</td>
<td class="num"><span class="tah p11">83,300</span></td>
<td class="num"><span class="tah p11">83,500</span></td>
<td class="num"><span class="tah p11">82,500</span></td>
<td class="num"><span class="tah p11">21,636,079</span></td>
</tr>, <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.20</span></td>
<td class="num"><span class="tah p11">83,900</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				600
				</span>
</td>
<td class="num"><span class="tah p11">83,300</span></td>
<td class="num"><span class="tah p11">84,000</span></td>
<td class="num"><span class="tah p11">83,100</span></td>
<td class="num"><span class="tah p11">15,521,965</span></td>
</tr>, <tr>
<td colspan="7" height="8"></td>
</tr>]

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [16]:


list_day = pd.DataFrame()
list_day['날짜']
list_day['종가']
list_day['전일비']
list_day['시가']
list_day['고가']
list_day['저가']
list_day['거래량']